*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica Neue, sans-serif;
}

/*  Generics  */

.flex{
    display: flex;
}

.light-text{
    font-weight:100;
    color: gray;
    text-transform: uppercase;
}



header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    font-family:'Nerko One', cursive;
    font-size:xx-large;
    color: orange;
}

.video{
    height: ;
    justify-content: center;
    align-items: center;
}


iframe{
    width: 95%;
    height: auto;
}

